@model PostType

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="tb col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input  asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group checkbox checkboxlist col-sm9">
                <table class="tb">
                    @foreach (var i in ViewBag.taxonomies)
                    {
                        <tr>
                            <td>
                                <label class="control-label">@i.Name</label>
                            </td>
                            <td>
                                <input type="checkbox" value="@i.TaxonomyId" name="taxonomyIdList" class="form-control" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @ViewBag.postTypesTaxonomies
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
